[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = {{getenv "MARIADB_DEFAULT_CHARACTER_SET" "utf8"}}

[mysqld]
port = 3306
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
bind-address = 0.0.0.0
user=daspanel

general_log_file = /var/log/mysql/mysql.log
general_log = 1
#long_query_time = 2
#slow-query-log = 0
#slow-query-log-file = /var/log/mysql/mysql-slow.log
#log_queries_not_using_indexes = 0
log_error = /var/log/mysql/mysql-error.log
log-warnings

character-set-server = {{getenv "MARIADB_CHARACTER_SET_SERVER" "utf8"}}
collation-server = {{getenv "MARIADB_COLLATION_SERVER" "utf8_general_ci"}}

default_storage_engine = InnoDB
skip_name_resolve
skip-external-locking

#https://mariadb.com/resources/blog/starting-mysql-low-memory-virtual-machines
performance_schema = off

# innodb memory optimization for docker containers
# http://www.tocker.ca/2014/03/10/configuring-mysql-to-use-minimal-memory.html
innodb_buffer_pool_size = {{getenv "MARIADB_INNODB_BUFFER_POOL_SIZE" "5M"}}
innodb_log_buffer_size = {{getenv "MARIADB_INNODB_LOG_BUFFER_SIZE" "256K"}}
query_cache_size=0
max_connections=10
key_buffer_size = {{getenv "MARIADB_KEY_BUFFER_SIZE" "8"}}
thread_cache_size=0
host_cache_size=0
innodb_ft_cache_size=1600000
innodb_ft_total_cache_size=32000000

# per thread or per operation settings
thread_stack=131072
sort_buffer_size = {{getenv "MARIADB_SORT_BUFFER_SIZE" "32K"}}
read_buffer_size = {{getenv "MARIADB_READ_BUFFER_SIZE" "8200"}}
read_rnd_buffer_size = {{getenv "MARIADB_READ_RND_BUFFER_SIZE" "8200"}}
max_heap_table_size=16K
tmp_table_size=1K
bulk_insert_buffer_size=0
join_buffer_size=128
net_buffer_length = {{getenv "MARIADB_NET_BUFFER_SIZE" "1K"}}
innodb_sort_buffer_size=64K

max_allowed_packet = {{getenv "MARIADB_MAX_ALLOWED_PACKET" "16M"}}
table_open_cache = {{getenv "MARIADB_TABLE_OPEN_CACHE" "64"}}
myisam_sort_buffer_size = {{getenv "MARIADB_MYISAM_SORT_BUFFER_SIZE" "1M"}}

tmpdir = /tmp
datadir = /var/lib/mysql

log-bin = {{getenv "MARIADB_LOG_BIN" "mysql-bin"}}
binlog_format = {{getenv "MARIADB_BINLOG_FORMAT" "mixed"}}

server-id = {{getenv "MARIADB_SERVER_ID" "1"}}

innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = {{getenv "MARIADB_INNODB_DATA_FILE_PATH" "ibdata1:10M:autoextend"}}
innodb_log_group_home_dir = /var/lib/mysql

innodb_log_file_size = {{getenv "MARIADB_INNODB_LOG_FILE_SIZE" "5M"}}

innodb_flush_log_at_trx_commit = {{getenv "MARIADB_INNODB_FLUSH_LOG_AT_TRX_COMMIT" "1"}}
innodb_lock_wait_timeout = {{getenv "MARIADB_INNODB_LOCK_WAIT_TIMEOUT" "50"}}

[mysqldump]
quick
quote-names
max_allowed_packet = {{getenv "MARIADB_MAX_ALLOWED_PACKET" "16M"}}

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = {{getenv "MARIADB_KEY_BUFFER_SIZE" "8"}}
sort_buffer_size = {{getenv "MARIADB_SORT_BUFFER_SIZE" "23K"}}
read_buffer = {{getenv "MARIADB_READ_BUFFER" "1M"}}
write_buffer = {{getenv "MARIADB_WRITE_BUFFER" "1M"}}

[mysqlhotcopy]
interactive-timeout
